{% extends "main.html" %}

{% block content %}

<div class="new-post">
	<form method="post">
		<div>
			<label>
				<input type="text" name="title" placeholder="Title" value="{{title}}" autofocus="True">
			</label>
		</div>
		<div>
			<label>
				<textarea name="story" rows="14" placeholder="Tell your story...">{{story}}</textarea>
			</label>
		</div>

		<div class="error">{{error}}</div>
		<div>
			<label>
				<input type="submit" name="submit" id="submit">
			</label>
			<label>
				<a href=""><input type="submit" id="submit" value="Cancel"></a>
			</label>
		</div>	
	</form>
</div>
{% endblock %}