<!DOCTYPE html>
<html>
	<head>
		<title>Blogr's Site</title>
		<link rel="stylesheet" href="/static/main.css">
	</head>

	<body>
		<header>
			<ul class="nav">
				<li id="title"><a href="/blog">Blogr's Site</a></li>
				{% if user %}
					<li><a href="/blog/new-post">Write a story</a></li>
					<li class="pull-left" id="welcome-msg">Welcome, {{user.name}}!</li>
					<li><a href="/logout">Logout</a></li>
				{% else %}
					<li><a href="/signup">Write a story</a></li>
					<li><a href="/login">Sign in /</a></li>
					<li><a href="/signup">Sign up</a></li>
				{% endif %}
			</ul>
		</header>
		<hr>
		{% block content %}
		{% endblock %}
	</body>

</html>